<!DOCTYPE html>
<html>
<head>
   <!-- Adding Stylesheet and Bootstrap-->
  {% include "bootstrap.html" %}
  <meta charset="utf-8">
  <title>Join House</title>
</head>
<body>
{% include "navigation.html" %}
<div class="container" align="center">
  <h2>Join House</h2>

<table style="width:100%"  class="table">
<thead>
    <tr>
      <th scope="col">Group Name</th>
      <th scope="col">House Type</th>
      <th scope="col">Members</th>
      <th scope="col">Join</th>
    </tr>
</thead>
<tbody>
{% for group in groups %}
<tr>
  <th> {{ group.Group_Name }} </th>
  <th> {{ group.Housing_Type }} </th>
  <th> Members </th>
  <th>
    <form method="POST" class="join_group">{% csrf_token %}
      <a class="save btn btn-default" value="{{ group.pk }}" href="{% url 'house' %}" name='join'>Join</a>
    </form>
  </th>
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
