<!DOCTYPE html>
<html>
<head>
   <!-- Adding Stylesheet and Bootstrap-->
  {% include "bootstrap.html" %}
  <meta charset="utf-8">
  <title>Join House</title>
</head>
<body>
{% include "navigation.html" %}
<div class="container" align="center">
  <h2>Join House</h2>

<table style="width:100%"  class="table">
<thead>
    <tr>
      <th scope="col">Group Name</th>
      <th scope="col">House Type</th>
      <th scope="col"> Members </th>
      <th scope="col">Join</th>
    </tr>
</thead>
<tbody>
{% for group in groups %}
<tr>
  <th> {{ group.Group_Name }} </th>
  <th> {{ group.Housing_Type }} </th>
  <th scope="col">
  {% for member in members %}
    {% if member.Group_Name == group.Group_Name %}
      {{ member.User.first_name}}
    {% endif %}
  {% endfor %}
  </th>

  <th>
    <form method="get" class="Join_Group">{% csrf_token %}
      <button class="save btn btn-default" name = "join_group" value="{{ group.Group_Name }}" name='join'>Join</button>
    </form>
  </th>
</tr>
{% endfor %}
</tbody>
</table>
<a class="btn btn-link" href="{% url 'house' %}" >Back To House Page</a>
</body>
</html>
