<!DOCTYPE html>
<html>
<head>
   <!-- Adding Stylesheet and Bootstrap-->
  {% include "bootstrap.html" %}
  {% load static %}
  {% load widget_tweaks %}


  <meta charset="utf-8">
  <title>Create House</title>
</head>
  <body>
    {% include "navigation.html" %}
    <div class="container" align="center">
      <h2>Create House</h2>

        <form method="POST" novalidate>
          {% csrf_token %}

        {% for hidden_field in group_form.hidden_fields %}
           {{ hidden_field }}
         {% endfor %}

         {% if group_form.non_field_errors %}
           <div class="alert alert-danger" role="alert">
             {% for error in group_form.non_field_errors %}
               {{ error }}
             {% endfor %}
           </div>
         {% endif %}

         {% for field in group_form.visible_fields %}
           <div class="form-group">
             {{ field.label_tag }}
             {% if group_form.is_bound %}
               {% if field.errors %}
                  <div class="is-invalid">
                 {% render_field field class="form-control is-invalid" %}
                  </div>
                 {% for error in field.errors %}
                   <div class="invalid-feedback">
                     {{ error }}
                   </div>
                 {% endfor %}
               {% else %}
                 {% render_field field class="form-control is-valid" %}
               {% endif %}
             {% else %}
               {% render_field field class="form-control" %}
             {% endif %}

             {% if field.help_text %}
               <small class="form-text text-muted">{{ field.help_text }}</small>
             {% endif %}
           </div>
         {% endfor %}
         <button type="submit" class="btn btn-primary" name="Submit_Group">Save</button>
        <a class="btn btn-link" href="{% url 'house' %}" >Back To House Page</a>
      </form>
    </div>
  </body>
</html>
